certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
Flask-HTTPAuth==4.5.0
flask-pydantic-spec==0.3.1
gunicorn==20.1.0
idna==3.3
inflection==0.5.1
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
nested-lookup==0.2.23
pydantic==1.9.0
python-dotenv==0.19.2
requests==2.27.1
six==1.16.0
typing_extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
